/* Navigation allgemein */
#mainNav {
  background-color: #4b6584;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  padding: 10px;
}

/* Links gestalten */
#mainNav a {
  text-decoration: none;
  color: white; /* Kein Blau */
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  transition: color 0.3s ease;
}

/* Hover-Effekt */
#mainNav a:hover {
  color: #ffcc00; /* z. B. Gelb beim Hover */
}

body {
    font-family: "Merriweather", serif;
    margin: 0;
    padding: 0;
}

/* Beschreibung */
.description {
    color: black;
    text-align: center;
    padding: 2rem 1rem;
}

/* Bannerbild */
.banner img {
    width: 50%;
    height: auto;
    object-fit: cover;
    padding: 10px 0;
}


/* Überschriften */
.description h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #161032;
}

.description h2 {
    font-size: 1.25rem;
    color: #161032;
    max-width: 800px;
    margin: 0 auto 1.5rem;
    line-height: 1.6;
}

/* Call-to-Action Button */
.cta-button {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 2rem;
    background-color: #e06d06;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.cta-button:hover {
    background-color: #b26700;
}

/* Allgemeine Sektionen */
section {
    padding: 2rem;
    max-width: 900px;
    margin: 0 auto;
}

/* Formular */
form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

input,
select,
textarea,
button {
    padding: 0.75rem;
    border-radius: 5px;
    border: 1px solid var(--dark-purple);
    font-size: 1rem;
}



button:hover {
    background-color: var(--tigers-eye);
}

/* Footer */
footer {
    background-color: #333;
    padding: 1rem;
    text-align: center;
    color: white;
}
